* {
  box-sizing: border-box;
}

.content {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  max-width: 960px;
  padding: 0.5em;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  padding-bottom: 0.5em;
  border-bottom: 1px solid black;
  margin: 2em 0 1em 0;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

header h1 {
  font-size: 3em;
  margin: 0;
}

/* code inline */
code {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.75em;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #d7ccc8;
}

/* code block */
.sourceCode {
  border-radius: 0.3em;
  background-color: #eeeeee;
}

.example {
  border-radius: 0.3em;
  background-color: #cfd8dc;
}

pre {
  font-family: 'Roboto Mono', monospace;
  padding: 0.75em 1em;
}

pre code {
  font-size: 1em;
  background-color: inherit;
  padding: 0;
}

.embed {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
}

.embed-16by9 {
  padding: calc(100% * 9 / 16) 0 0 0;
}

.embed-4by3 {
  padding: calc(100% * 3 / 4) 0 0 0;
}

.embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
