[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandocfilters = "*"
"jinja2" = "*"
libsass = "*"

[dev-packages]
livereload = "*"
"flake8" = "*"
awscli = "*"

[requires]
python_version = "3.6"
